In [74]:
# Step 1: Load the Boston dataset
import pandas as pd
import numpy as np
path =  "C://Users/khanz/Desktop/housing.csv"
dataset = pd.read_csv(path)
dataset

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [75]:
# Step 2: Have a glance at the shape
dataset.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [76]:
# Step 2: Set up the dependent and the independent variables
x=pd.DataFrame(dataset.iloc[:,:-1])
y=pd.DataFrame(dataset.iloc[:,-1])

In [77]:
# Step 3: Have a glance at the independent variable
x

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88

In [78]:
# Step 4: Have a glance at the dependent variable

y

     medv
0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
..    ...
501  22.4
502  20.6
503  23.9
504  22.0
505  11.9

[506 rows x 1 columns]

In [79]:
# Step 5: Divide the data into train and test sets:

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [80]:
# Step 6: Have a glance at the shape of the train and test sets:

print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(404, 13)
(102, 13)
(404, 1)
(102, 1)

In [81]:
# Step 7: Train the algorithm:


from sklearn.linear_model import LinearRegression
regressor =LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

In [82]:
# Step 8: Having a look at the coefficients that the model has chosen:
v=pd.DataFrame(regressor.coef_,index=['Co-efficient']).transpose()
w=pd.DataFrame(x.columns,columns=['Attribute'])

In [83]:
# Step 9: Concatenating the DataFrames to compare:
coeff_df=pd.concat([w,v],axis=1,join='inner')
coeff_df

   Attribute  Co-efficient
0       crim     -0.112387
1         zn      0.058059
2      indus      0.018359
3       chas      2.129978
4        nox    -19.581101
5         rm      3.095462
6        age      0.004453
7        dis     -1.500476
8        rad      0.305359
9        tax     -0.011123
10   ptratio     -0.989008
11         b      0.007321
12     lstat     -0.544645

In [85]:
# Step 10: Comparing the predicted value to the actual value:

y_pred=regressor.predict(x_test)
y_pred= pd.DataFrame(y_pred, columns =['Predicted'])

In [86]:
y_test

     medv
307  28.2
343  23.9
47   16.6
67   22.0
362  20.8
..    ...
92   22.9
224  44.8
110  21.7
426  10.2
443  15.4

[102 rows x 1 columns]

In [94]:
from sklearn import metrics
print('Mean absolute error',metrics.mean_absolute_error(y_test,y_pred))
print('Mean square error',metrics.mean_squared_error(y_test,y_pred))
print('Root Mean square error',np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

Mean absolute error 3.7507121808389177
Mean square error 23.380836480270055
Root Mean square error 4.83537345820052